<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier un participant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../form.css">
    <link rel="icon" type="image/png" href="../../black-jack-sans-raison.png" />
</head>
<body>
    <div class="container">
        <h1 th:text="'Modifier le participant : ' + ${participant.nomPart} + ' ' + ${participant.prenomPart}"></h1>
        <form action="/participants/update" method="get">

            <!-- Champ camouflé comme un ninja -->
            <input type="hidden" name="id" th:value="${participant.codeParticipant}" />

            <div class="form-group">
                <label for="nomPart">Nom :</label>
                <input type="text" id="nomPart" name="nomPart" th:value="${participant.nomPart}" required>
            </div>

            <div class="form-group">
                <label for="prenomPart">Prénom :</label>
                <input type="text" id="prenomPart" name="prenomPart" th:value="${participant.prenomPart}" required>
            </div>

            <div class="form-group">
                <label for="organismePart">Organisme :</label>
                <input type="text" id="organismePart" name="organismePart" th:value="${participant.organismePart}" required>
            </div>

            <div class="form-group">
                <label for="cpPart">Code Postal :</label>
                <input type="number" id="cpPart" name="cpPart" th:value="${participant.cpPart}" required max="999999999">
            </div>

            <div class="form-group">
                <label for="adrPart">Adresse :</label>
                <input type="text" id="adrPart" name="adrPart" th:value="${participant.adrPart}" required>
            </div>

            <div class="form-group">
                <label for="villePart">Ville :</label>
                <input type="text" id="villePart" name="villePart" th:value="${participant.villePart}" required>
            </div>

            <div class="form-group">
                <label for="paysPart">Pays :</label>
                <input type="text" id="paysPart" name="paysPart" th:value="${participant.paysPart}" required>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
            </div>

            <label for="statutNom">Statut :</label>
            <div class="statut-container">
                <div th:each="statut : ${statuts}" class="statut-item">
                    <input type="radio"
                           th:id="${statut.codeStatut}"
                           th:name="statutNom"
                           th:value="${statut.nomStatut}"
                           th:checked="${participant.statut.nomStatut == statut.nomStatut}" />
                        <label th:for="${statut.codeStatut}" th:text="${statut.nomStatut}"></label>
                </div>
            </div>

            <input type="submit" value="Modifier">
        </form>

        <a href="/index">← Retour à l'accueil</a>
    </div>
</body>
</html>